/* .nav-bar {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%)
};
*/

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #fceeec;
  left: -200px;
  transition: all 500ms linear;
}
#sidebar.active {
  left:0px;
}


#sidebar ul li {
  color:red;
  list-style: none;
  padding: 15px;
  margin-top: 15px;
  border-bottom: red;
 
  
}

#sidebar .toggle-btn {
  position: relative;
  padding: 5px;
  display: block;
  left: 230px;
  top: 20px;
}

#sidebar .toggle-btn span {
  /* display: block; */
  width: 30px;
  height: 5px;
  background: #8B0000;
  
  margin: 3px 0px;
  position: relative;
  z-index: 1;
  
}

.main-header {
  background-color: #fceeec;
  font-family: 'Playfair Display', serif;
  position: fixed;
  height: 140px;
  width: 100%;
  z-index: 1;
  
}

.name {
   font-family: 'Playfair Display', serif;
   text-align: center;
   padding: 10px;
   color: #8B0000;
   text-shadow: horizontal-offset vertical-offset blur color;
}

.fab{
  
  font-size: 20px; 
  float: right;
  padding: 15px;
  margin-top: -49px;
  margin-bottom: 10px;
  /* margin: 5px;
  margin-top: 5px; */
  
}

.about{
  font-family: 'Playfair Display', serif;
}

.jumbotron {
  background-image: url("img/dusk.jpeg");
  background-size: cover;
}



.social_container {
  margin-left: 200px;
  padding: 5px;
}

.footer {
  background-color: #fceeec;
  font-size: 2px;
  font-family: 'Playfair Display', serif;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  padding: 15px;
  z-index: 1;
  color: #8B0000;
  text-align: center;
  
}

.info {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  line-height: 35px;
}

.title {
  padding-top: 15px;
}

.profession {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  text-align: center;
  color:  #8B0000;

}